# Carpetas ignoradas
runs/
.ipynb_checkpoints/

# Modelos
*.pt
*.h5

# Datasets
cards/*
!cards/.gitkeep
poker/*
!poker/.gitkeep

# Archivos temporales o personales
*.cache
*.log
kaggle.json
.DS_Store
Thumbs.db

# Notebooks temporales
*_checkpoint.ipynb
